body {
    margin: 0;
    background-color: black;
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    color: white;
    font-weight: normal;
}

.header {
    font-size: 3.125rem;
    font-weight: normal;
    margin: 1rem 1rem 2rem 1rem;
}

.link {
    color: aquamarine;
}

video {
    display: block;
    margin: 2rem auto 2rem auto;
}

.subhead {
    font-size: 2.625rem;
    font-weight: 300;
}

.subhead-1 {
    font-size: 1.3125rem;
    color: gray;
}

img {
    display: block;
    margin: 2rem auto 2rem auto;
}

.image {
    width: 50vw;
    height: auto;
}

footer {
    text-align: right;
    margin-right: 1rem;
}